.custom-footer {
  background-color: #232f3e;
  color: #fff;
}
.custom-container-footer {
  max-width: 83%;
}
.news-letter-s1 h6 {
  font-size: 18px;
}
.news-letter-s1 p {
  font-size: 15px;
  color: #fff;
}
.news-letter-s2 p {
  font-size: 15px;
  line-height: 34px;
  color: #fff;
}
.news-letter-s3 input::placeholder {
  font-size: 14px;
}
.news-letter-s3 button {
  font-size: 14px;
}
.main-section-footer h5 {
  font-size: 15px;
  border-bottom: 3px solid #a09f9f;
  padding-bottom: 10px;
  display: inline-flex;
}
.footer-nav-custom li a {
  font-size: 14px;
  color: #fff;
}
.support-rules {
  font-size: 33px;
  color: #fff;
}
.text-support-rules p,
.text-support-rules a {
  font-size: 14px;
  color: #fff;
}
.social-icon p {
  font-size: 15px;
  color: #fff;
}
