.custom-navtabs .nav-link,
.custom-navtabs {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 15px;
  color: rgb(37, 36, 36);
}
.custom-navtabs .nav-item.show .nav-link,
.custom-navtabs .nav-link.active {
  color: rgb(241, 128, 128);
  background-color: transparent;
  border-color: transparent;
}
.custom-navtabs .nav-link:focus,
.custom-navtabs .nav-link:hover {
  border-color: transparent;
  isolation: isolate;
}
.offer-details {
  width: 400px;
}
.offer-details a {
  font-size: 15px;
  color: rgb(130, 130, 231);
}
.offer-rating i {
  font-size: 16px;
  color: rgb(216, 216, 27);
}
.offer-price s {
  color: red;
  font-size: 13px;
}
.offer-price span {
  font-size: 14px;
  color: #565555;
}
.count-down-timer {
  font-size: 14px;
  color: #565555;
}
.offer-image {
  overflow: hidden;
  height: 200px;
}
.offer-image img {
  width: 200px;
}
.offer-image:hover img {
  transform: translateY(-200px);
}
.sf-shadow {
  box-shadow: 0 0 1px 1px #efefef;
  z-index: 1;
}
.title-special-offer {
  border-bottom: 3px solid red;
  margin: 5px;
}
.brand-offer {
  font-size: 18px;
  margin-bottom: 8px;
  filter: drop-shadow(1px 1px 1px #f7f2f2);
}
