.custom-breadcrumb {
  font-size: 16px;
}
.product-page-rate {
  font-size: 18px;
}
.product-page-rate span {
  color: rgb(44, 44, 43);
  font-size: 14px;
}
.product-page-price s,
.product-page-price span {
  font-size: 18px;
}
.product-page-title {
  font-size: 24px;
}
.describe {
  font-size: 17px;
  line-height: 36px;
}
.p-benefit {
  font-size: 16px;
  color: #000;
}
.brand-cat {
  font-size: 15px;
}
.benfit-list li a i {
  font-size: 10px;
  color: rgb(103, 103, 235);
}
.custom-nav-tabs-product .nav-link {
  border-radius: 0 !important;
  font-size: 15px;
}
.custom-nav-tabs-product .nav-link.active,
.custom-nav-tabs-product .nav-item.show .nav-link {
  border-top: 3px solid red;
}
.custom-tab-pane-product h5,
.custom-tab-pane-product-details h5 {
  color: #848181;
}
.custom-tab-pane-product .product-desk {
  font-size: 15px;
  line-height: 36px;
  background-color: #fbfbfb;
}
.product-all-rate p {
  font-size: 14px;
}
.progress-product {
  background-color: #fbfbfb;
}
.product-step li {
  border-right: 1px solid #9e9595;
  font-size: 17px;
  line-height: 46px;
  color: #2f2f2f;
}
.product-step li i {
  top: -7px;
  right: -11px;
  font-size: 20px;
  color: rgb(240, 70, 70);
}
.p-img-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.key {
  background-color: #f7f6f6;
  flex: 0 0 20%;
  font-size: 15px;
  height: 37px;
}
.value {
  background-color: #f7f6f6;
  flex: 0 0 77%;
  font-size: 15px;
  height: 37px;
}
.custom-tab-pane-product-details ul p i {
  vertical-align: -2px;
}
.custom-tab-pane-product-details ul p {
  font-size: 15px;
  margin: 14px 0;
}
.add-comment p:first-child {
  font-size: 18px;
  color: #505050;
}
.add-comment p:nth-child(2) {
  color: #505050;
}
.add-comment a i {
  vertical-align: -3px;
}
.custom-media-product h5 {
  font-size: 16px;
}
.user-details p {
  font-size: 14px;
}
.suggestion {
  font-size: 15px;
}
.p-supplier,
.p-color {
  font-size: 15px;
}
.p-user-comment p {
  font-size: 18px;
}
.benefit-comment {
  font-size: 16px;
}
.p-user-comment ul.nav li {
  font-size: 14px;
}
.p-user-comment ul.nav li i {
  font-size: 8px;
  color: #8888fb;
}
.comment-vote {
  font-size: 14px;
}
.comment-vote span {
  font-size: 13px;
  padding: 4px 10px;
  background-color: #f7f2f2;
}
.badge-custom {
  font-size: 8px !important;
  vertical-align: 1px;
}
.comment-submit {
  font-size: 18px;
  margin: 24px;
  color: #4b4646;
}
.comment-submit i {
  color: rgb(240, 92, 92);
  margin-left: 7px;
  vertical-align: -1px;
}
