.shipping-wrapper img {
  width: 38px;
  height: 28px;
  margin-left: 12px;
  margin-top: 5px;
}
.shipping-wrapper p {
  font-size: 13px;
}
.custom-shipping-bg {
  background-color: #f7eeee;
  padding: 14px;
  border-radius: 3px;
}
