.bg-top-nav {
  background-color: #232f3e;
}
.custom-top-nav,
.bg-top-nav p {
  font-size: 14px;
}
.custom-top-nav a {
  border-color: #4a4a4a !important;
}
.custom-icon-shop {
  vertical-align: -2px;
}
.custom-toggle::after {
  vertical-align: 0;
}
.basket {
  width: 300px !important;
}
.basket a {
  font-size: 14px;
}
.custom-navbar-nav {
  font-size: 15px;
}
.custom-navbar-nav .nav-item {
  position: unset;
}
.drop-img img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.drop-img ul li a {
  color: rgb(37, 36, 36) !important;
  font-size: 15px;
}
.drop-img ul li a i {
  vertical-align: -2px;
}
.drop-img ul li a {
  transition: 0.5s ease;
}
.drop-img ul li a:hover {
  margin-right: 7px;
  color: rgb(56, 136, 255) !important;
}
.input-nav-top-custom::placeholder {
  font-size: 14px;
}
.custom-sign-up{
margin-top: 28px;
}
.custom-sign-up a{
  color: rgb(29, 190, 29);
}
.custom-input-login::placeholder{
  float: right;
  font-size: 14px;
  color: rgb(56, 99, 99);
}
