@import "_top-nav.css";
@import "_slider.css";
@import "_shipping.css";
@import "_category.css";
@import "_offers.css";
@import "_popular-product.css";
@import "_banner-section-1.css";
@import "_footer.css";
@import "_product-breadcrumb.css";
@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format("eot"),
    url(../fonts/Vazir-Medium.woff) format("woff"),
    url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir-Medium;
}

body {
  direction: rtl;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
/* @media (min-width: 1200px) {
  .container {
    max-width: 1340px !important;
  }
} */
.owl-carousel .owl-nav.disabled {
  display: block;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 118px;
  width: 100%;
  display: flex !important;
}
.owl-carousel-brand .owl-nav {
  top: 70px;
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: 0px;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  right: 0px;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  width: 46px;
}
.owl-carousel .owl-nav .owl-next span,
.owl-carousel .owl-nav .owl-prev span {
  display: block;
  font-size: 66px;
  background-color: #fff;
  box-shadow: 0 0 12px 0px #c7c7c7;
}
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:focus span,
.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-prev:focus span {
  outline: none !important;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #000;
}
.zoom-mousemove {
  border: none !important  ;
}
